<html>

<!-- a form that takes the email, zipcode, password and age of the new user.
 -->

 	<form id="new_user" method="POST">
        <input type="text" id="email"></input>
        <input type="submit" value="Insert your email"></input>
 		<input type="integer" id="age"></input>
 		<input type="submit" value="How old are you?"></input>
 		<input type="text" id="zipcode"></input>
 		<input type="submit" value="What's your zipcode?"></input>
 		<input type="text" id="password"></input>
 		<input type="submit" value="Create a password"></input>

    </form>


</html>